{% extends "base.html" %}

{% block content %}

<h2>Ask a question</h2>

<form action="{% url 'ask' %}" method="post">
  {% include "_form-fields.html" %}

  <div class="form-group row mt-3">
    <div class="col-sm-1">
    </div>
    <div class="col-sm">
      <button type="submit" class="btn btn-primary">Ask!</button>
    </div>
  </div>
</form>

{% load static %}
<script src="{% static 'js/autocomplete.js' %}"></script>

<script>
  var all_tags = [
  {% for tag in view.all_tags %}
    "{{ tag.text }}",
  {% endfor %}
  ];

  autocomplete(document.getElementById("id_tags"),
               all_tags,
               getCurrentTagText,
               setCurrentTagText);
</script>

{% endblock %}
