<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap Icon Set -->
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <!-- Site CSS -->
    <link href="{% static 'css/site.css' %}" rel="stylesheet">

    <title>Hasker</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-2 display-5">
          <a class="text-decoration-none" href="{% url 'index' %}">Hasker</a>
        </div>
        <div class="col my-auto">
          {% include "_search-bar.html" %}
        </div>
        <div class="col-1">
          {% if user.is_authenticated %}
            <img class="avatar-large" src="{{ user.useravatar.avatar_url }}"/>
          {% endif %}
        </div>
        <div class="col-1 my-auto">
          {% include "_auth.html" %}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col">
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-3">
          {% include "_sidebar.html" %}
        </div>
      </div>
    </div>
  </body>
</html>
